Repository rodaquino-OMNI/emr-integration-platform--4v4v54, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-owners, @security-team, @mobile-team, @backend-team, @frontend-team, @devops-team, @healthcare-experts, @compliance-team, @qa-team, @docs-team

Add public-samples/emr-integration-platform--4v4v54/src/ios/EMRTask/Security/KeychainManager.swift
  src/ios/EMRTask/Security/KeychainManager.swift
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/ios/EMRTask/Sync/CRDTManager.swift
  src/ios/EMRTask/Sync/CRDTManager.swift
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/ios/EMRTask/Sync/SyncManager.swift
  src/ios/EMRTask/Sync/SyncManager.swift
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/ios/EMRTask/Sync/SyncWorker.swift
  src/ios/EMRTask/Sync/SyncWorker.swift
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/ios/EMRTask/Utils/Constants.swift
  src/ios/EMRTask/Utils/Constants.swift
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/ios/EMRTask/Utils/Logger.swift
  src/ios/EMRTask/Utils/Logger.swift
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/ios/EMRTask/Utils/NetworkMonitor.swift
  src/ios/EMRTask/Utils/NetworkMonitor.swift
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/ios/EMRTaskTests/BarcodePluginTests.swift
  src/ios/EMRTaskTests/BarcodePluginTests.swift
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/ios/EMRTaskTests/DatabaseTests.swift
  src/ios/EMRTaskTests/DatabaseTests.swift
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/ios/EMRTaskTests/EMRPluginTests.swift
  src/ios/EMRTaskTests/EMRPluginTests.swift
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/ios/EMRTaskTests/OfflinePluginTests.swift
  src/ios/EMRTaskTests/OfflinePluginTests.swift
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/ios/EMRTaskTests/SecurityTests.swift
  src/ios/EMRTaskTests/SecurityTests.swift
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/ios/EMRTaskTests/SyncTests.swift
  src/ios/EMRTaskTests/SyncTests.swift
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/ios/EMRTaskUITests/EMRTaskUITests.swift
  src/ios/EMRTaskUITests/EMRTaskUITests.swift
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/ios/fastlane/Appfile
  src/ios/fastlane/Appfile
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/ios/fastlane/Fastfile
  src/ios/fastlane/Fastfile
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/ios/fastlane/Matchfile
  src/ios/fastlane/Matchfile
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/web/.env.example
  src/web/.env.example
Owners: @frontend-team

Add public-samples/emr-integration-platform--4v4v54/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @frontend-team

Add public-samples/emr-integration-platform--4v4v54/src/web/.gitignore
  src/web/.gitignore
Owners: @frontend-team

Add public-samples/emr-integration-platform--4v4v54/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team

Add public-samples/emr-integration-platform--4v4v54/src/web/README.md
  src/web/README.md
Owners: @docs-team

Add public-samples/emr-integration-platform--4v4v54/src/web/cypress.config.ts
  src/web/cypress.config.ts
Owners: @frontend-team

Add public-samples/emr-integration-platform--4v4v54/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @frontend-team

Add public-samples/emr-integration-platform--4v4v54/src/web/next-env.d.ts
  src/web/next-env.d.ts
Owners: @frontend-team

Add public-samples/emr-integration-platform--4v4v54/src/web/next.config.ts
  src/web/next.config.ts
Owners: @frontend-team

Add public-samples/emr-integration-platform--4v4v54/src/web/package.json
  src/web/package.json
Owners: @security-team, @devops-team

Add public-samples/emr-integration-platform--4v4v54/src/web/postcss.config.ts
  src/web/postcss.config.ts
Owners: @frontend-team

Add public-samples/emr-integration-platform--4v4v54/src/web/tailwind.config.ts
  src/web/tailwind.config.ts
Owners: @frontend-team

Add public-samples/emr-integration-platform--4v4v54/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team

Add public-samples/emr-integration-platform--4v4v54/src/web/__tests__/components/auth/LoginForm.test.tsx
  src/web/__tests__/components/auth/LoginForm.test.tsx
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/web/__tests__/components/dashboard/HandoverSummary.test.tsx
  src/web/__tests__/components/dashboard/HandoverSummary.test.tsx
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/web/__tests__/components/dashboard/TaskBoard.test.tsx
  src/web/__tests__/components/dashboard/TaskBoard.test.tsx
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/web/__tests__/hooks/useHandovers.test.ts
  src/web/__tests__/hooks/useHandovers.test.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/web/__tests__/hooks/useTasks.test.ts
  src/web/__tests__/hooks/useTasks.test.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/web/__tests__/services/handoverService.test.ts
  src/web/__tests__/services/handoverService.test.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/web/__tests__/services/taskService.test.ts
  src/web/__tests__/services/taskService.test.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/web/cypress/tsconfig.json
  src/web/cypress/tsconfig.json
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/web/cypress/e2e/auth.cy.ts
  src/web/cypress/e2e/auth.cy.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/web/cypress/e2e/dashboard.cy.ts
  src/web/cypress/e2e/dashboard.cy.ts
Owners: @global-owners, @security-team

.github/CODEOWNERS:

# Ensures security oversight on all changes
* @global-owners @security-team

# Mobile application code
src/android/* @mobile-team
src/ios/* @mobile-team

# Backend services
src/backend/* @backend-team

# Web dashboard
src/web/* @frontend-team

# Infrastructure and deployment
infrastructure/* @devops-team @security-team
.github/workflows/* @devops-team @security-team

# Healthcare data handling components require additional review
src/backend/packages/emr-service/* @backend-team @healthcare-experts @compliance-team

# Security-critical services
src/backend/packages/auth-service/* @backend-team @security-team
src/backend/packages/encryption-service/* @backend-team @security-team

# Test files
src/**/tests/* @qa-team

# Documentation
*.md @docs-team

# Dependency management requires security review
package*.json @security-team @devops-team

# Security configurations
**/security.* @security-team

# Container configurations
**/Dockerfile* @devops-team @security-team
