Repository rodaquino-OMNI/emr-integration-platform--4v4v54, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-owners, @security-team, @mobile-team, @backend-team, @frontend-team, @devops-team, @healthcare-experts, @compliance-team, @qa-team, @docs-team

.github/CODEOWNERS:

# Ensures security oversight on all changes
* @global-owners @security-team

# Mobile application code
src/android/* @mobile-team
src/ios/* @mobile-team

# Backend services
src/backend/* @backend-team

# Web dashboard
src/web/* @frontend-team

# Infrastructure and deployment
infrastructure/* @devops-team @security-team
.github/workflows/* @devops-team @security-team

# Healthcare data handling components require additional review
src/backend/packages/emr-service/* @backend-team @healthcare-experts @compliance-team

# Security-critical services
src/backend/packages/auth-service/* @backend-team @security-team
src/backend/packages/encryption-service/* @backend-team @security-team

# Test files
src/**/tests/* @qa-team

# Documentation
*.md @docs-team

# Dependency management requires security review
package*.json @security-team @devops-team

# Security configurations
**/security.* @security-team

# Container configurations
**/Dockerfile* @devops-team @security-team

Add public-samples/emr-integration-platform--4v4v54/src/android/app/src/main/res/values-night/colors.xml
  src/android/app/src/main/res/values-night/colors.xml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/android/app/src/main/res/values-night/themes.xml
  src/android/app/src/main/res/values-night/themes.xml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/android/app/src/main/res/values/colors.xml
  src/android/app/src/main/res/values/colors.xml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/android/app/src/main/res/values/strings.xml
  src/android/app/src/main/res/values/strings.xml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/android/app/src/main/res/values/styles.xml
  src/android/app/src/main/res/values/styles.xml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/android/app/src/main/res/values/themes.xml
  src/android/app/src/main/res/values/themes.xml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/android/app/src/main/res/xml/backup_rules.xml
  src/android/app/src/main/res/xml/backup_rules.xml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/android/app/src/main/res/xml/data_extraction_rules.xml
  src/android/app/src/main/res/xml/data_extraction_rules.xml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/android/app/src/main/res/xml/network_security_config.xml
  src/android/app/src/main/res/xml/network_security_config.xml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/android/app/src/release/AndroidManifest.xml
  src/android/app/src/release/AndroidManifest.xml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/android/app/src/test/java/com/emrtask/app/ExampleUnitTest.kt
  src/android/app/src/test/java/com/emrtask/app/ExampleUnitTest.kt
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/android/gradle/wrapper/gradle-wrapper.jar
  src/android/gradle/wrapper/gradle-wrapper.jar
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/android/gradle/wrapper/gradle-wrapper.properties
  src/android/gradle/wrapper/gradle-wrapper.properties
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @backend-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/.env.example
  src/backend/.env.example
Owners: @backend-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/.eslintrc.json
  src/backend/.eslintrc.json
Owners: @backend-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/.gitignore
  src/backend/.gitignore
Owners: @backend-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @backend-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @devops-team, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/README.md
  src/backend/README.md
Owners: @docs-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @backend-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @backend-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/lerna.json
  src/backend/lerna.json
Owners: @backend-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @backend-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/package.json
  src/backend/package.json
Owners: @security-team, @devops-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @backend-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/k8s/api-gateway/deployment.yaml
  src/backend/k8s/api-gateway/deployment.yaml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/k8s/api-gateway/service.yaml
  src/backend/k8s/api-gateway/service.yaml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/k8s/config/istio-gateway.yaml
  src/backend/k8s/config/istio-gateway.yaml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/k8s/config/istio-virtualservice.yaml
  src/backend/k8s/config/istio-virtualservice.yaml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/k8s/config/prometheus-config.yaml
  src/backend/k8s/config/prometheus-config.yaml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/k8s/config/redis-config.yaml
  src/backend/k8s/config/redis-config.yaml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/k8s/emr-service/deployment.yaml
  src/backend/k8s/emr-service/deployment.yaml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/k8s/emr-service/service.yaml
  src/backend/k8s/emr-service/service.yaml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/k8s/handover-service/deployment.yaml
  src/backend/k8s/handover-service/deployment.yaml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/k8s/handover-service/service.yaml
  src/backend/k8s/handover-service/service.yaml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/k8s/secrets/emr-secrets.yaml
  src/backend/k8s/secrets/emr-secrets.yaml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/k8s/secrets/jwt-secrets.yaml
  src/backend/k8s/secrets/jwt-secrets.yaml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/k8s/secrets/postgres-secrets.yaml
  src/backend/k8s/secrets/postgres-secrets.yaml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/k8s/sync-service/deployment.yaml
  src/backend/k8s/sync-service/deployment.yaml
Owners: @global-owners, @security-team
