Repository rodaquino-OMNI/emr-integration-platform--4v4v54, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-owners, @security-team, @mobile-team, @backend-team, @frontend-team, @devops-team, @healthcare-experts, @compliance-team, @qa-team, @docs-team

.github/CODEOWNERS:

# Ensures security oversight on all changes
* @global-owners @security-team

# Mobile application code
src/android/* @mobile-team
src/ios/* @mobile-team

# Backend services
src/backend/* @backend-team

# Web dashboard
src/web/* @frontend-team

# Infrastructure and deployment
infrastructure/* @devops-team @security-team
.github/workflows/* @devops-team @security-team

# Healthcare data handling components require additional review
src/backend/packages/emr-service/* @backend-team @healthcare-experts @compliance-team

# Security-critical services
src/backend/packages/auth-service/* @backend-team @security-team
src/backend/packages/encryption-service/* @backend-team @security-team

# Test files
src/**/tests/* @qa-team

# Documentation
*.md @docs-team

# Dependency management requires security review
package*.json @security-team @devops-team

# Security configurations
**/security.* @security-team

# Container configurations
**/Dockerfile* @devops-team @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/k8s/sync-service/service.yaml
  src/backend/k8s/sync-service/service.yaml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/k8s/task-service/deployment.yaml
  src/backend/k8s/task-service/deployment.yaml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/k8s/task-service/service.yaml
  src/backend/k8s/task-service/service.yaml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/api-gateway/package.json
  src/backend/packages/api-gateway/package.json
Owners: @security-team, @devops-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/api-gateway/tsconfig.json
  src/backend/packages/api-gateway/tsconfig.json
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/api-gateway/src/server.ts
  src/backend/packages/api-gateway/src/server.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/api-gateway/src/config/index.ts
  src/backend/packages/api-gateway/src/config/index.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/api-gateway/src/middleware/auth.middleware.ts
  src/backend/packages/api-gateway/src/middleware/auth.middleware.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/api-gateway/src/middleware/rateLimit.middleware.ts
  src/backend/packages/api-gateway/src/middleware/rateLimit.middleware.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/api-gateway/src/routes/index.ts
  src/backend/packages/api-gateway/src/routes/index.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/api-gateway/src/types/index.ts
  src/backend/packages/api-gateway/src/types/index.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/api-gateway/test/integration/routes.test.ts
  src/backend/packages/api-gateway/test/integration/routes.test.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/api-gateway/test/unit/middleware.test.ts
  src/backend/packages/api-gateway/test/unit/middleware.test.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/emr-service/package.json
  src/backend/packages/emr-service/package.json
Owners: @security-team, @devops-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/emr-service/tsconfig.json
  src/backend/packages/emr-service/tsconfig.json
Owners: @backend-team, @healthcare-experts, @compliance-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/emr-service/src/adapters/cerner.adapter.ts
  src/backend/packages/emr-service/src/adapters/cerner.adapter.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/emr-service/src/adapters/epic.adapter.ts
  src/backend/packages/emr-service/src/adapters/epic.adapter.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/emr-service/src/config/fhir.config.ts
  src/backend/packages/emr-service/src/config/fhir.config.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/emr-service/src/config/hl7.config.ts
  src/backend/packages/emr-service/src/config/hl7.config.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/emr-service/src/controllers/emr.controller.ts
  src/backend/packages/emr-service/src/controllers/emr.controller.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/emr-service/src/models/emr.model.ts
  src/backend/packages/emr-service/src/models/emr.model.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/emr-service/src/services/emr.service.ts
  src/backend/packages/emr-service/src/services/emr.service.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/emr-service/src/types/fhir.types.ts
  src/backend/packages/emr-service/src/types/fhir.types.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/emr-service/src/types/hl7.types.ts
  src/backend/packages/emr-service/src/types/hl7.types.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/emr-service/src/utils/dataTransformer.ts
  src/backend/packages/emr-service/src/utils/dataTransformer.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/emr-service/test/integration/emr.test.ts
  src/backend/packages/emr-service/test/integration/emr.test.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/emr-service/test/unit/adapters.test.ts
  src/backend/packages/emr-service/test/unit/adapters.test.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/handover-service/package.json
  src/backend/packages/handover-service/package.json
Owners: @security-team, @devops-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/handover-service/tsconfig.json
  src/backend/packages/handover-service/tsconfig.json
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/handover-service/src/config/index.ts
  src/backend/packages/handover-service/src/config/index.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/handover-service/src/controllers/handover.controller.ts
  src/backend/packages/handover-service/src/controllers/handover.controller.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/handover-service/src/models/handover.model.ts
  src/backend/packages/handover-service/src/models/handover.model.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/handover-service/src/services/handover.service.ts
  src/backend/packages/handover-service/src/services/handover.service.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/handover-service/src/types/handover.types.ts
  src/backend/packages/handover-service/src/types/handover.types.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/handover-service/src/utils/shiftCalculator.ts
  src/backend/packages/handover-service/src/utils/shiftCalculator.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/handover-service/test/integration/handover.test.ts
  src/backend/packages/handover-service/test/integration/handover.test.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/handover-service/test/unit/services.test.ts
  src/backend/packages/handover-service/test/unit/services.test.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/shared/package.json
  src/backend/packages/shared/package.json
Owners: @security-team, @devops-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/shared/tsconfig.json
  src/backend/packages/shared/tsconfig.json
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/shared/src/constants/index.ts
  src/backend/packages/shared/src/constants/index.ts
Owners: @global-owners, @security-team
