Repository rodaquino-OMNI/emr-integration-platform--4v4v54, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-owners, @security-team, @mobile-team, @backend-team, @frontend-team, @devops-team, @healthcare-experts, @compliance-team, @qa-team, @docs-team

.github/CODEOWNERS:

# Ensures security oversight on all changes
* @global-owners @security-team

# Mobile application code
src/android/* @mobile-team
src/ios/* @mobile-team

# Backend services
src/backend/* @backend-team

# Web dashboard
src/web/* @frontend-team

# Infrastructure and deployment
infrastructure/* @devops-team @security-team
.github/workflows/* @devops-team @security-team

# Healthcare data handling components require additional review
src/backend/packages/emr-service/* @backend-team @healthcare-experts @compliance-team

# Security-critical services
src/backend/packages/auth-service/* @backend-team @security-team
src/backend/packages/encryption-service/* @backend-team @security-team

# Test files
src/**/tests/* @qa-team

# Documentation
*.md @docs-team

# Dependency management requires security review
package*.json @security-team @devops-team

# Security configurations
**/security.* @security-team

# Container configurations
**/Dockerfile* @devops-team @security-team

Add public-samples/emr-integration-platform--4v4v54/src/web/src/styles/globals.css
  src/web/src/styles/globals.css
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/web/src/styles/tailwind.css
  src/web/src/styles/tailwind.css
Owners: @global-owners, @security-team

Update Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @docs-team

Add comprehensive forensics analysis and remediation plans
  DEPLOYMENT_RISK_ASSESSMENT.md
  FORENSICS_MASTER_REPORT.md
  REMEDIATION_ROADMAP.md
Owners: @docs-team

docs: Add Phase 5 comprehensive PR description
  PR_PHASE5_DESCRIPTION.md
Owners: @docs-team

Add final summary and PR description files
  FINAL_SUMMARY.md
  PR_DESCRIPTION.md
Owners: @docs-team

docs: Add independent forensics verification of Phase 5 deliverables
  PHASE5_FORENSICS_VERIFICATION.md
Owners: @docs-team

docs: Add Phase 6 execution attempt and honest assessment
  docs/PHASE5_ULTRATHINK_VERIFICATION.md
  docs/PHASE6_EXECUTION_PLAN.md
  docs/phase6/PHASE6_EXECUTION_REPORT.md
  src/backend/packages/api-gateway/package.json
  src/backend/packages/emr-service/package.json
  src/backend/packages/handover-service/package.json
  src/backend/packages/sync-service/package.json
  src/backend/packages/task-service/package.json
Owners: @docs-team, @security-team, @devops-team

fix: Update swagger-ui package name in backend dependencies
  src/backend/package.json
Owners: @security-team, @devops-team

docs: Add PR creation summary and instructions
  docs/phase6/PR_SUMMARY.md
Owners: @docs-team

docs: Add ultra-comprehensive Phase 7 agent execution prompt
  docs/PHASE7_AGENT_PROMPT.md
Owners: @docs-team

docs: Add Phase 7 agent prompt executive summary
  docs/PHASE7_PROMPT_SUMMARY.md
Owners: @docs-team

fix(deps): Phase 7A - Complete dependency remediation with forensics analysis
  docs/phase7/COMPREHENSIVE_STATUS_SUMMARY.md
  docs/phase7/FORENSICS_ANALYSIS.md
  docs/phase7/PHASE7A_DEPENDENCY_FIXES.md
  docs/phase7/TYPESCRIPT_ERROR_ANALYSIS.md
  src/backend/package.json
  src/backend/packages/api-gateway/package.json
  src/backend/packages/emr-service/package.json
  src/backend/packages/handover-service/package.json
  src/backend/packages/shared/package.json
  src/backend/packages/shared/test/unit/oauth2TokenManager.test.d.ts.map
  src/backend/packages/shared/test/unit/oauth2TokenManager.test.js
  src/backend/packages/shared/test/unit/utils.test.d.ts.map
  src/backend/packages/shared/test/unit/utils.test.js
  src/backend/packages/shared/tsconfig.json
  src/backend/packages/sync-service/package.json
  src/backend/packages/task-service/package.json
Owners: @docs-team, @security-team, @devops-team, @global-owners

Add PR description and Phase 5 execution plan
  PHASE5_EXECUTION_PLAN.md
  PULL_REQUEST_DESCRIPTION.md
Owners: @docs-team

feat(phase7): Merge Phase 7 documentation and validation improvements
  .gitignore
  docs/ROOT_CAUSE_ANALYSIS.md
  docs/performance/PERFORMANCE_BASELINE_REPORT.md
  docs/phase7/CHECKPOINT_PROGRESS.md
  docs/phase7/CONFLICT_RESOLUTION_CODER_ANALYSIS.md
  docs/phase7/FINAL_STATUS_REPORT.md
  docs/phase7/ITERATION_2_PROGRESS.md
  docs/phase7/MERGE_ORCHESTRATION_REPORT.md
  docs/phase7/PHASE7B_COMPLETION_REPORT.md
  docs/phase7/PHASE7_HIVE_COMPLETION_REPORT.md
  docs/phase7/REMAINING_WORK_ANALYSIS.md
  docs/phase7/ULTRATHINK_EXECUTION_REPORT.md
  docs/phase7/ULTRATHINK_MERGE_ANALYSIS.md
  docs/security/SECURITY_SCAN_REPORT.md
  docs/security/SECURITY_SCAN_SUMMARY.txt
  docs/testing/JDK_TEST_SCENARIOS.md
  docs/testing/JDK_VALIDATION_STRATEGY.md
  docs/testing/TESTER_JDK_REPORT.md
  scripts/fix-tsconfig-modules.sh
  scripts/validate-jdk.sh
  src/backend/jest.setup.ts
Owners: @global-owners, @security-team, @docs-team, @backend-team

Add comprehensive Phase 5+ executable tasks analysis
  docs/PHASE5_EXECUTABLE_ANALYSIS.md
Owners: @docs-team

Add comprehensive PR description for main branch sync
  PR_DESCRIPTION_UPDATED.md
Owners: @docs-team

docs: Add Phase 5+ forensics verification and local completion prompt
  docs/LOCAL_ENVIRONMENT_COMPLETION_PROMPT.md
  docs/PHASE5_FORENSICS_VERIFICATION_REPORT.md
Owners: @docs-team

chore: Update .gitignore for working documentation files
  .gitignore
Owners: @global-owners, @security-team

refactor: Reorganize documentation structure and cleanup obsolete files
  .gitignore
  docs/EMR_INTEGRATION_GUIDE.md
  docs/PHASE5_PLUS_EXECUTABLE_ANALYSIS.md
  docs/ROOT_CAUSE_ANALYSIS.md
  docs/coder-implementation-summary.md
  docs/memory-optimization-guide.md
  docs/phase5_execution/PHASE5_FORENSICS_VERIFICATION_REPORT.md
  docs/phase5_execution/PHASE5_PLUS_COMPLETION_REPORT.md
  docs/phase5_execution/build-errors-backend.txt
  docs/phase5_execution/build-errors-frontend.txt
  docs/phase5_execution/lint-errors-backend.txt
  docs/phase5_execution/type-errors-frontend.txt
Owners: @global-owners, @security-team, @docs-team

docs: Add swarm-optimized implementation prompts
  docs/IMPLEMENTATION_COMPLETION_PROMPT.md
  docs/SWARM_EXECUTION_MANIFEST.md
Owners: @docs-team

feat: Add compliance features, TypeScript stubs, and security middleware
  docs/compliance/BAA_TEMPLATE.md
  docs/compliance/SECRETS_MANAGEMENT_ASSESSMENT.md
  docs/phase5_execution/GIT_VALIDATION_REPORT.md
  src/backend/package.json
  src/backend/packages/api-gateway/tsconfig.json
  src/backend/packages/emr-service/src/stubs/circuit-breaker-ts.ts
  src/backend/packages/emr-service/src/stubs/company-audit-logger.ts
  src/backend/packages/emr-service/src/stubs/company-monitoring.ts
  src/backend/packages/emr-service/src/stubs/express-validator.ts
  src/backend/packages/emr-service/src/stubs/fhir-r4.ts
  src/backend/packages/emr-service/src/stubs/opentelemetry-metrics.ts
  src/backend/packages/emr-service/src/stubs/retry-axios.ts
  src/backend/packages/emr-service/tsconfig.json
  src/backend/packages/handover-service/tsconfig.json
  src/backend/packages/shared/src/controllers/gdpr.controller.ts
  src/backend/packages/shared/src/middleware/change-audit.middleware.ts
  src/backend/packages/shared/src/middleware/consent-management.middleware.ts
  src/backend/packages/shared/src/middleware/mfa.middleware.ts
  src/backend/packages/shared/src/middleware/session-timeout.middleware.ts
  src/backend/packages/shared/src/security/digital-signature.service.ts
  src/backend/packages/sync-service/tsconfig.json
  src/backend/packages/task-service/tsconfig.json
Owners: @docs-team, @security-team, @devops-team, @global-owners, @backend-team, @healthcare-experts, @compliance-team

docs: Update SWARM_EXECUTION_MANIFEST v3.0 with zero-trust verification
  docs/SWARM_EXECUTION_MANIFEST.md
Owners: @docs-team
