Repository rodaquino-OMNI/emr-integration-platform--4v4v54, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-owners, @security-team, @mobile-team, @backend-team, @frontend-team, @devops-team, @healthcare-experts, @compliance-team, @qa-team, @docs-team

.github/CODEOWNERS:

# Ensures security oversight on all changes
* @global-owners @security-team

# Mobile application code
src/android/* @mobile-team
src/ios/* @mobile-team

# Backend services
src/backend/* @backend-team

# Web dashboard
src/web/* @frontend-team

# Infrastructure and deployment
infrastructure/* @devops-team @security-team
.github/workflows/* @devops-team @security-team

# Healthcare data handling components require additional review
src/backend/packages/emr-service/* @backend-team @healthcare-experts @compliance-team

# Security-critical services
src/backend/packages/auth-service/* @backend-team @security-team
src/backend/packages/encryption-service/* @backend-team @security-team

# Test files
src/**/tests/* @qa-team

# Documentation
*.md @docs-team

# Dependency management requires security review
package*.json @security-team @devops-team

# Security configurations
**/security.* @security-team

# Container configurations
**/Dockerfile* @devops-team @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/terraform/aws/elasticache.tf
  infrastructure/terraform/aws/elasticache.tf
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/terraform/aws/iam.tf
  infrastructure/terraform/aws/iam.tf
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/terraform/aws/kms.tf
  infrastructure/terraform/aws/kms.tf
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/terraform/aws/main.tf
  infrastructure/terraform/aws/main.tf
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/terraform/aws/msk.tf
  infrastructure/terraform/aws/msk.tf
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/terraform/aws/outputs.tf
  infrastructure/terraform/aws/outputs.tf
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/terraform/aws/provider.tf
  infrastructure/terraform/aws/provider.tf
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/terraform/aws/rds.tf
  infrastructure/terraform/aws/rds.tf
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/terraform/aws/route53.tf
  infrastructure/terraform/aws/route53.tf
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/terraform/aws/s3.tf
  infrastructure/terraform/aws/s3.tf
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/terraform/aws/variables.tf
  infrastructure/terraform/aws/variables.tf
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/terraform/aws/vpc.tf
  infrastructure/terraform/aws/vpc.tf
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/terraform/environments/dev/main.tf
  infrastructure/terraform/environments/dev/main.tf
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/terraform/environments/dev/terraform.tfvars
  infrastructure/terraform/environments/dev/terraform.tfvars
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/terraform/environments/dr/main.tf
  infrastructure/terraform/environments/dr/main.tf
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/terraform/environments/dr/terraform.tfvars
  infrastructure/terraform/environments/dr/terraform.tfvars
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/terraform/environments/prod/main.tf
  infrastructure/terraform/environments/prod/main.tf
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/terraform/environments/prod/terraform.tfvars
  infrastructure/terraform/environments/prod/terraform.tfvars
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/terraform/environments/staging/terraform.tfvars
  infrastructure/terraform/environments/staging/terraform.tfvars
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/terraform/modules/eks/main.tf
  infrastructure/terraform/modules/eks/main.tf
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/terraform/modules/eks/outputs.tf
  infrastructure/terraform/modules/eks/outputs.tf
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/terraform/modules/eks/variables.tf
  infrastructure/terraform/modules/eks/variables.tf
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/terraform/modules/elasticache/main.tf
  infrastructure/terraform/modules/elasticache/main.tf
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/terraform/modules/elasticache/outputs.tf
  infrastructure/terraform/modules/elasticache/outputs.tf
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/terraform/modules/elasticache/variables.tf
  infrastructure/terraform/modules/elasticache/variables.tf
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/terraform/modules/msk/main.tf
  infrastructure/terraform/modules/msk/main.tf
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/terraform/modules/msk/outputs.tf
  infrastructure/terraform/modules/msk/outputs.tf
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/terraform/modules/msk/variables.tf
  infrastructure/terraform/modules/msk/variables.tf
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/terraform/modules/rds/main.tf
  infrastructure/terraform/modules/rds/main.tf
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/terraform/modules/rds/outputs.tf
  infrastructure/terraform/modules/rds/outputs.tf
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/terraform/modules/rds/variables.tf
  infrastructure/terraform/modules/rds/variables.tf
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/terraform/modules/vpc/main.tf
  infrastructure/terraform/modules/vpc/main.tf
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/terraform/modules/vpc/outputs.tf
  infrastructure/terraform/modules/vpc/outputs.tf
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/terraform/modules/vpc/variables.tf
  infrastructure/terraform/modules/vpc/variables.tf
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/android/.gitignore
  src/android/.gitignore
Owners: @mobile-team

Add public-samples/emr-integration-platform--4v4v54/src/android/README.md
  src/android/README.md
Owners: @docs-team

Add public-samples/emr-integration-platform--4v4v54/src/android/build.gradle
  src/android/build.gradle
Owners: @mobile-team

Add public-samples/emr-integration-platform--4v4v54/src/android/gradle.properties
  src/android/gradle.properties
Owners: @mobile-team

Add public-samples/emr-integration-platform--4v4v54/src/android/gradlew
  src/android/gradlew
Owners: @mobile-team
