Repository rodaquino-OMNI/emr-integration-platform--4v4v54, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-owners, @security-team, @mobile-team, @backend-team, @frontend-team, @devops-team, @healthcare-experts, @compliance-team, @qa-team, @docs-team

.github/CODEOWNERS:

# Ensures security oversight on all changes
* @global-owners @security-team

# Mobile application code
src/android/* @mobile-team
src/ios/* @mobile-team

# Backend services
src/backend/* @backend-team

# Web dashboard
src/web/* @frontend-team

# Infrastructure and deployment
infrastructure/* @devops-team @security-team
.github/workflows/* @devops-team @security-team

# Healthcare data handling components require additional review
src/backend/packages/emr-service/* @backend-team @healthcare-experts @compliance-team

# Security-critical services
src/backend/packages/auth-service/* @backend-team @security-team
src/backend/packages/encryption-service/* @backend-team @security-team

# Test files
src/**/tests/* @qa-team

# Documentation
*.md @docs-team

# Dependency management requires security review
package*.json @security-team @devops-team

# Security configurations
**/security.* @security-team

# Container configurations
**/Dockerfile* @devops-team @security-team

Add public-samples/emr-integration-platform--4v4v54/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @docs-team

Add public-samples/emr-integration-platform--4v4v54/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @docs-team

Add public-samples/emr-integration-platform--4v4v54/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @docs-team

Add public-samples/emr-integration-platform--4v4v54/.github/workflows/android.yml
  .github/workflows/android.yml
Owners: @devops-team, @security-team

Add public-samples/emr-integration-platform--4v4v54/.github/workflows/backend.yml
  .github/workflows/backend.yml
Owners: @devops-team, @security-team

Add public-samples/emr-integration-platform--4v4v54/.github/workflows/ios.yml
  .github/workflows/ios.yml
Owners: @devops-team, @security-team

Add public-samples/emr-integration-platform--4v4v54/.github/workflows/web.yml
  .github/workflows/web.yml
Owners: @devops-team, @security-team

Add public-samples/emr-integration-platform--4v4v54/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @docs-team

Add public-samples/emr-integration-platform--4v4v54/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @docs-team

Add public-samples/emr-integration-platform--4v4v54/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @docs-team

Add public-samples/emr-integration-platform--4v4v54/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @docs-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/docker/api-gateway.Dockerfile
  infrastructure/docker/api-gateway.Dockerfile
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/docker/emr-service.Dockerfile
  infrastructure/docker/emr-service.Dockerfile
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/docker/handover-service.Dockerfile
  infrastructure/docker/handover-service.Dockerfile
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/docker/sync-service.Dockerfile
  infrastructure/docker/sync-service.Dockerfile
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/docker/task-service.Dockerfile
  infrastructure/docker/task-service.Dockerfile
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/docker/web.Dockerfile
  infrastructure/docker/web.Dockerfile
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/helm/api-gateway/Chart.yaml
  infrastructure/helm/api-gateway/Chart.yaml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/helm/api-gateway/values.yaml
  infrastructure/helm/api-gateway/values.yaml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/helm/api-gateway/templates/deployment.yaml
  infrastructure/helm/api-gateway/templates/deployment.yaml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/helm/api-gateway/templates/ingress.yaml
  infrastructure/helm/api-gateway/templates/ingress.yaml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/helm/api-gateway/templates/service.yaml
  infrastructure/helm/api-gateway/templates/service.yaml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/helm/argocd/Chart.yaml
  infrastructure/helm/argocd/Chart.yaml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/helm/argocd/values.yaml
  infrastructure/helm/argocd/values.yaml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/helm/argocd/templates/deployment.yaml
  infrastructure/helm/argocd/templates/deployment.yaml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/helm/argocd/templates/ingress.yaml
  infrastructure/helm/argocd/templates/ingress.yaml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/helm/argocd/templates/service.yaml
  infrastructure/helm/argocd/templates/service.yaml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/helm/emr-service/Chart.yaml
  infrastructure/helm/emr-service/Chart.yaml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/helm/emr-service/values.yaml
  infrastructure/helm/emr-service/values.yaml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/helm/emr-service/templates/deployment.yaml
  infrastructure/helm/emr-service/templates/deployment.yaml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/helm/emr-service/templates/service.yaml
  infrastructure/helm/emr-service/templates/service.yaml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/helm/handover-service/Chart.yaml
  infrastructure/helm/handover-service/Chart.yaml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/helm/handover-service/values.yaml
  infrastructure/helm/handover-service/values.yaml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/helm/handover-service/templates/deployment.yaml
  infrastructure/helm/handover-service/templates/deployment.yaml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/helm/handover-service/templates/service.yaml
  infrastructure/helm/handover-service/templates/service.yaml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/helm/istio/Chart.yaml
  infrastructure/helm/istio/Chart.yaml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/helm/istio/values.yaml
  infrastructure/helm/istio/values.yaml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/helm/istio/templates/destinationrule.yaml
  infrastructure/helm/istio/templates/destinationrule.yaml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/helm/istio/templates/gateway.yaml
  infrastructure/helm/istio/templates/gateway.yaml
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/infrastructure/helm/istio/templates/virtualservice.yaml
  infrastructure/helm/istio/templates/virtualservice.yaml
Owners: @global-owners, @security-team
