Repository rodaquino-OMNI/emr-integration-platform--4v4v54, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-owners, @security-team, @mobile-team, @backend-team, @frontend-team, @devops-team, @healthcare-experts, @compliance-team, @qa-team, @docs-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/shared/src/database/index.ts
  src/backend/packages/shared/src/database/index.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/shared/src/database/migrations/001_initial_schema.ts
  src/backend/packages/shared/src/database/migrations/001_initial_schema.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/shared/src/database/migrations/002_add_audit_logs.ts
  src/backend/packages/shared/src/database/migrations/002_add_audit_logs.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/shared/src/database/migrations/003_add_vector_clocks.ts
  src/backend/packages/shared/src/database/migrations/003_add_vector_clocks.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/shared/src/logger/index.ts
  src/backend/packages/shared/src/logger/index.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/shared/src/metrics/index.ts
  src/backend/packages/shared/src/metrics/index.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/shared/src/middleware/error.middleware.ts
  src/backend/packages/shared/src/middleware/error.middleware.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/shared/src/middleware/logging.middleware.ts
  src/backend/packages/shared/src/middleware/logging.middleware.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/shared/src/middleware/metrics.middleware.ts
  src/backend/packages/shared/src/middleware/metrics.middleware.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/shared/src/types/common.types.ts
  src/backend/packages/shared/src/types/common.types.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/shared/src/utils/encryption.ts
  src/backend/packages/shared/src/utils/encryption.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/shared/src/utils/validation.ts
  src/backend/packages/shared/src/utils/validation.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/shared/test/unit/utils.test.ts
  src/backend/packages/shared/test/unit/utils.test.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/sync-service/package.json
  src/backend/packages/sync-service/package.json
Owners: @security-team, @devops-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/sync-service/tsconfig.json
  src/backend/packages/sync-service/tsconfig.json
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/sync-service/src/config/index.ts
  src/backend/packages/sync-service/src/config/index.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/sync-service/src/controllers/sync.controller.ts
  src/backend/packages/sync-service/src/controllers/sync.controller.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/sync-service/src/models/sync.model.ts
  src/backend/packages/sync-service/src/models/sync.model.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/sync-service/src/services/crdt.service.ts
  src/backend/packages/sync-service/src/services/crdt.service.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/sync-service/src/services/sync.service.ts
  src/backend/packages/sync-service/src/services/sync.service.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/sync-service/src/types/crdt.types.ts
  src/backend/packages/sync-service/src/types/crdt.types.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/sync-service/src/utils/vectorClock.ts
  src/backend/packages/sync-service/src/utils/vectorClock.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/sync-service/test/integration/sync.test.ts
  src/backend/packages/sync-service/test/integration/sync.test.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/sync-service/test/unit/crdt.test.ts
  src/backend/packages/sync-service/test/unit/crdt.test.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/task-service/package.json
  src/backend/packages/task-service/package.json
Owners: @security-team, @devops-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/task-service/tsconfig.json
  src/backend/packages/task-service/tsconfig.json
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/task-service/src/config/index.ts
  src/backend/packages/task-service/src/config/index.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/task-service/src/controllers/task.controller.ts
  src/backend/packages/task-service/src/controllers/task.controller.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/task-service/src/models/task.model.ts
  src/backend/packages/task-service/src/models/task.model.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/task-service/src/services/task.service.ts
  src/backend/packages/task-service/src/services/task.service.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/task-service/src/types/task.types.ts
  src/backend/packages/task-service/src/types/task.types.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/task-service/src/utils/taskValidator.ts
  src/backend/packages/task-service/src/utils/taskValidator.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/task-service/test/integration/task.test.ts
  src/backend/packages/task-service/test/integration/task.test.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/backend/packages/task-service/test/unit/services.test.ts
  src/backend/packages/task-service/test/unit/services.test.ts
Owners: @global-owners, @security-team

Add public-samples/emr-integration-platform--4v4v54/src/ios/.gitignore
  src/ios/.gitignore
Owners: @mobile-team

Add public-samples/emr-integration-platform--4v4v54/src/ios/EMRTask.entitlements
  src/ios/EMRTask.entitlements
Owners: @mobile-team

Add public-samples/emr-integration-platform--4v4v54/src/ios/ExportOptions.plist
  src/ios/ExportOptions.plist
Owners: @mobile-team

Add public-samples/emr-integration-platform--4v4v54/src/ios/GoogleService-Info.plist
  src/ios/GoogleService-Info.plist
Owners: @mobile-team

Add public-samples/emr-integration-platform--4v4v54/src/ios/Podfile
  src/ios/Podfile
Owners: @mobile-team

Add public-samples/emr-integration-platform--4v4v54/src/ios/Podfile.lock
  src/ios/Podfile.lock
Owners: @mobile-team

.github/CODEOWNERS:

# Ensures security oversight on all changes
* @global-owners @security-team

# Mobile application code
src/android/* @mobile-team
src/ios/* @mobile-team

# Backend services
src/backend/* @backend-team

# Web dashboard
src/web/* @frontend-team

# Infrastructure and deployment
infrastructure/* @devops-team @security-team
.github/workflows/* @devops-team @security-team

# Healthcare data handling components require additional review
src/backend/packages/emr-service/* @backend-team @healthcare-experts @compliance-team

# Security-critical services
src/backend/packages/auth-service/* @backend-team @security-team
src/backend/packages/encryption-service/* @backend-team @security-team

# Test files
src/**/tests/* @qa-team

# Documentation
*.md @docs-team

# Dependency management requires security review
package*.json @security-team @devops-team

# Security configurations
**/security.* @security-team

# Container configurations
**/Dockerfile* @devops-team @security-team
